.newContact-input{

direction: rtl;
 height: 55px;
}

.MuiFormLabel-root{
right: 0  ;

}



.form-head {
    border-bottom: 1px solid white;
    color: #6976d9;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
    background: lavender;
  }

form{
  background: lavender;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
}


  .submitButton {
    background-color: #818de4;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 2rem;
    height: 3rem;
    border-radius: 20px;
  }

